svg#chartMain {
	margin-top: 10px;
}

h1 {
	margin-left: 5px;
}

#left {
position: absolute;
left: 0;
width: 100px;
}

#content {
margin: 0 50px;
border-top: none;
background-color: #ffffff;   
padding: 5px;
}

#right {
position: absolute;
right: 0;        
width: 100px;
background-color: #f9c;
}

div#intro {
	font-size: 12px;
	margin-bottom: 20px;
}

p.chartNav {
	margin: 0px;
	font-weight: bold;
}

select.drgSelect {
	width: 500px;
}

.barLabel, .barValueLabel {
	pointer-events : none;
}
